:root{

  /*--Green--*/
  --color-green-900: #;
  --color-green-800: #;
  --color-green-700: #;
  --color-green-600: #9EFF00;
  --color-green-500: #;
  --color-green-400: #;
  --color-green-300: #;
  --color-green-200: #;
  --color-green-100: #;
  /*--Purple--*/
  --color-purple-900: #;
  --color-purple-800: #;
  --color-purple-700: #;
  --color-purple-600: #9747FF;
  --color-purple-500: #;
  --color-purple-400: #;
  --color-purple-300: #;
  --color-purple-200: #;
  --color-purple-100: #;
  /*--Neutral--*/
  --color-neutral-950: #0A0A0A;
  --color-neutral-900: #171717;
  --color-neutral-800: #262626;
  --color-neutral-700: #44403C;
  --color-neutral-600: #57534E;
  --color-neutral-500: #78716C;
  --color-neutral-400: #A8A29E;
  --color-neutral-300: #D6D3D1;
  --color-neutral-200: #E7E5E4;
  --color-neutral-100: #F5F5F4;
  --color-neutral-50: #FAFAFA;
  /*--Blue--*/
  --color-blue-950: #0A0A0A;
  --color-blue-900: #171717;
  --color-blue-800: #262626;
  --color-blue-700: #44403C;
  --color-blue-600: #1D4ED8;
  --color-blue-500: #78716C;
  --color-blue-400: #A8A29E;
  --color-blue-300: #D6D3D1;
  --color-blue-200: #E7E5E4;
  --color-blue-100: #F5F5F4;
  --color-blue-50: #FAFAFA;
}